{{ define "admin/public/page_aside.html" }}
<ul class="aside">
         		
    <li>
        <h4>管理员管理111</h4>
        
        <ul>
            <li  class="list-group-item"> <a href="/admin/manager" target="rightMain"> 管理员列表</a></li>
            
            <li class="list-group-item"> <a href="/admin/manager/add" target="rightMain">增加管理员</a></li>
        </ul>
    </li>
    <li>
        <h4>分类管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/focus" target="rightMain"> 轮播图列表</a></li>
            
            <li class="list-group-item"> <a href="/admin/focus/add" target="rightMain">增加轮播图</a></li>
        </ul>
    </li>
    <li>
        <h4>商品管理</h4>
        
        <ul>
            <li  class="list-group-item"> <a href="/"> 商品列表</a></li>
            
            <li class="list-group-item"> <a href="/add">增加商品</a></li>
        </ul>
    </li>
    
    <li>
        <h4>轮播图管理</h4>
        
        <ul>
            <li  class="list-group-item"> <a href="/">轮播图列表</a></li>
            
            <li class="list-group-item"> <a href="/add">轮播图商品</a></li>
        </ul>
    </li>
    
</ul>

{{end}}