{{ define "xyuan/index/index.html" }}

{{ template "xyuan/public/page_header.html" .}}

<!-- 中间导航start banner_x -->
<div class="banner_x center">
    <a href="/" target="_blank"><div class="logo fl"></div></a>
    <a href=""><div class="ad_top fl"></div></a>
    <div class="nav fl">
        <ul class="clearfix" id="nav_list">
            {{range $key,$value := .middleNavList}}
            <li>
                <a href="#" target="_blank">{{$value.Title}}</a>					
                <ol class="children-list clearfix">							
                    {{range $k,$v := $value.GoodsItems}}
                        <li>                        
							<a href="detail?id={{$v.Id}}">
                                <img src="{{$v.GoodsImg | FormatImg}}" alt="{{$v.Title}}" />
                                <p>{{$v.Price}}元</p>
                            </a>
                        </li>
                    {{end}}		
                </ol>
            
            </li>
            {{end}}
            
        </ul>
    </div>
    <div class="search fr">
        <form action="" method="post">
            <div class="text fl">
                <input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
            </div>
            <div class="submit fl">
                <input type="submit" class="sousuo" value="搜索"/>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>
<!-- end banner_x -->

	<!-- start banner_y -->
		<div class="banner_y center">


			<div class="nav">
				<ul>
					
				{{range $key,$value := .goodsCateList}}
					<li>
						
												
						{{if eq $value.Link ""}}
							<a href="category{{$value.Id}}" target="_blank">{{$value.Title}}</a>	
						{{else}}
							<a href="{{$value.Link}}" target="_blank">{{$value.Title}}</a>
						{{end}}

						<div class="pop">
							<ol class="cate_list clear">
										
								{{range $k,$v := $value.GoodsCateItems}}
									<li>
										
										<div class="xuangou_left">
											{{if eq $v.Link ""}}
												<a href="category{{$v.Id}}" target="_blank" class="clearfix">
													<div class="img fl"><img src="{{$v.CateImg | FormatImg}}" alt="{{$v.Title}}"></div>
													<span class="fl">{{$v.Title}}</span>									
												</a>
											{{else}}
												<a href="{{$v.Link}}" target="_blank" class="clearfix">
													<div class="img fl"><img src="{{$v.CateImg | FormatImg}}" alt="{{$v.Title}}"></div>
													<span class="fl">{{$v.Title}}</span>									
												</a>
											{{end}}
										</div>
									</li>
								
								{{end}}				
							</ol>
						</div>
						
					</li>
					{{end}}
		
				</ul>
			</div>
		
			  <div class="swiper-container">
				<div class="swiper-wrapper">


					{{range $key,$value := .focusList}}
						<div class="swiper-slide">
							<a href="{{$value.Link}}" target="_blank">
								<img src="{{$value.FocusImg | FormatImg}}" alt="{{$value.Title}}" />
							</a>
						</div>
					{{end}}
				  				
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			  </div>
		
		</div>	

		<div class="sub_banner center">
			<div class="sidebar fl">
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_01.gif"></a></div>
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_02.gif"></a></div>
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_03.gif"></a></div>
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_04.gif"></a></div>
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_05.gif"></a></div>
				<div class="fl"><a href=""><img src="./static/xyuan/image/hjh_06.gif"></a></div>
				<div class="clear"></div>
			</div>
			<div class="datu fl"><a href=""><img src="./static/xyuan/image/hongmi4x.png" alt=""></a></div>
			<div class="datu fl"><a href=""><img src="./static/xyuan/image/xiaomi5.jpg" alt=""></a></div>
			<div class="datu fr"><a href=""><img src="./static/xyuan/image/pinghengche.jpg" alt=""></a></div>
			<div class="clear"></div>


		</div>
	<!-- end banner -->

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="title center">小米明星单品</div>
			<div class="main center">
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="./static/xyuan/image/pinpai1.png" alt=""></a></div>
					<div class="pinpai"><a href="">小米MIX</a></div>
					<div class="youhui">5月9日-21日享花呗12期分期免息</div>
					<div class="jiage">3499元起</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="./static/xyuan/image/pinpai2.png" alt=""></a></div>
					<div class="pinpai"><a href="">小米5s</a></div>
					<div class="youhui">5月9日-10日，下单立减200元</div>
					<div class="jiage">1999元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="./static/xyuan/image/pinpai3.png" alt=""></a></div>
					<div class="pinpai"><a href="">小米手机5 64GB</a></div>
					<div class="youhui">5月9日-10日，下单立减100元</div>
					<div class="jiage">1799元</div>
				</div>
				<div class="mingxing fl"> 	
					<div class="sub_mingxing"><a href=""><img src="./static/xyuan/image/pinpai4.png" alt=""></a></div>
					<div class="pinpai"><a href="">小米电视3s 55英寸</a></div>
					<div class="youhui">5月9日，下单立减200元</div>
					<div class="jiage">3999元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="./static/xyuan/image/pinpai5.png" alt=""></a></div>
					<div class="pinpai"><a href="">小米笔记本</a></div>
					<div class="youhui">更轻更薄，像杂志一样随身携带</div>
					<div class="jiage">3599元起</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>



		<!-- 手机 -->

		<div class="category_item w">
			<div class="title center">手机</div>
			<div class="main center">


				<div class="category_item_left">
					<img src="static/xyuan/image/shouji.jpg" alt="手机">
				</div>


				<div class="category_item_right">
						
											

								{{range $key,$value := .phoneList}}
									<div class="hot fl">
										<div class="xinpin"><span style="background:#fff"></span></div>
										<div class="tu"><a href="#"><img src="{{$value.GoodsImg | FormatImg}}"></a></div>
										<div class="miaoshu"><a href="#">{{$value.Title}}</a></div>
										<div class="jiage">{{$value.Price}}元</div>
										<div class="pingjia">372人评价</div>
										<div class="piao">
											<a href="">
												<span>{{Substr $value.SubTitle 0 30}}</span>											
											</a>
										</div>
									</div>
								{{end}}
								
						
							
				</div>
			
			
			</div>
		</div>



		<!-- 配件 -->
		<div class="category_item w">
			<div class="title center">配件</div>
			<div class="main center">
				<div class="content">
					<div class="hot fl"><a href=""><img src="./static/xyuan/image/peijian1.jpg"></a>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span>新品</span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian2.jpg"></a></div>
						<div class="miaoshu"><a href="">小米6 硅胶保护套</a></div>
						<div class="jiage">49元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配小米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian3.jpg"></a></div>
						<div class="miaoshu"><a href="">小米手机4c 小米4c 智能</a></div>
						<div class="jiage">29元</div>
						<div class="pingjia">372人评价</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:red">享6折</span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian4.jpg"></a></div>
						<div class="miaoshu"><a href="">红米NOTE 4X 红米note4X</a></div>
						<div class="jiage">19元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配小米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian5.jpg"></a></div>
						<div class="miaoshu"><a href="">小米支架式自拍杆</a></div>
						<div class="jiage">89元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配小米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content">
					<div class="hot fl"><a href=""><img src="./static/xyuan/image/peijian6.png"></a>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian7.jpg"></a></div>
						<div class="miaoshu"><a href="">小米指环支架</a></div>
						<div class="jiage">19元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配小米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian8.jpg"></a></div>
						<div class="miaoshu"><a href="">米家随身风扇</a></div>
						<div class="jiage">19.9元</div>
						<div class="pingjia">372人评价</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="./static/xyuan/image/peijian9.jpg"></a></div>
						<div class="miaoshu"><a href="">红米4X 高透软胶保护套</a></div>
						<div class="jiage">59元</div>
						<div class="pingjia">775人评价</div>
					</div>
					<div class="hotlast fr">
						<div class="hongmi"><a href=""><img src="./static/xyuan/image/hongmin4.png" alt=""></a></div>
						<div class="liulangengduo"><a href=""><img src="./static/xyuan/image/liulangengduo.png" alt=""></a></div>
					</div>
					<div class="clear"></div>
				</div>				
			</div>
		</div>
		{{ template "xyuan/public/page_footer.html" .}}
	</body>
</html>
{{end}}