{{ define "xyuan/pass/register_step1.html" }}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="author" content="order by dede58.com" />
	<title>用户注册</title>
	<link rel="stylesheet" href="/static/xyuan/css/pass.css" />
	<script src="/static/xyuan/js/jquery-1.10.1.js"></script>
	<script src="/static/xyuan/js/pass.js"></script>
</head>

<body class="register_page">

	<div class="regist">
		<div class="regist_center">

			<div class="logo">
				<img src="/static/xyuan/image/logo_top.png" alt="nest小米">
			</div>
			<div class="regist_top">
				<h2>注册小米账户</h2>
				
			</div>
			<div class="regist_main center">
				<div class="error"></div>
				<input type="hidden" name="captchaId" id="captchaId">
				<input class="form_input" type="text" name="phone" id="phone" placeholder="请填写正确的手机号" />

				<div class="yzm">
					<input type="text" id="verifyCode" name="verifyCode" placeholder="请输入图形验证码" />
					<img id="captchaImg" src="">
				</div>				

				<div class="regist_submit">
					<button class="submit" id="registerButton">
						立即注册
					</button>
					
				</div>
				<br>
				<br>
				<div class="privacy_box">
					<div class="msg">
						<label class="n_checked now select-privacy">
							<input type="checkbox" checked="true" /> 注册帐号即表示您同意并愿意遵守Gin仿小米 <a
								href="https://static.account.xiaomi.com/html/agreement/account/cn.html"
								class="inspect_link " title="用户协议" target="_blank">用户协议</a>和<a
								href="https://www.mi.com/about/privacy/" class="inspect_link privacy_link"
								title=" 隐私政策 " target="_blank"> 隐私政策 </a>
						</label>
					</div>
				</div>
			</div>


		</div>
	</div>

</body>

</html>

{{end}}